// Utils styles
@import './utils/variables';
@import'./utils/visually__hidden';
@import'./utils/placeholders';
@import'./utils/mixins';
// Base styles
@import'./base/base';
@import'./base/reset';
// Components styles
@import'./components/buttons';
@import'./components/card__set';
@import'./components/section';
@import'./components/container';
@import'./components/title';
@import'./components/form';
@import'./components/clients';
@import'./components/doing';
@import'./components/team';
@import'./components/portfolio';
@import'./components/modal';
@import'./components/icons';

// Layout styles
@import'./layout/header';
@import'./layout/nav';
@import'./layout/hero';
@import'./layout/footer';