.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__address {
  margin-bottom: 9px;
}

.contacts__item {
  margin-bottom: 9px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__list {
  display: flex;
  gap: 10px;
}

.footer__left {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 70px;
  }
}

.footer__content {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.address {
  gap: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-bg-cl);
}

.dark__bg {
  background-color: var(--hero-cl);

  @media screen and (max-width: 1199px) {
    padding-bottom: 0;
  }
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
