.header {
  position: relative;
  color: var(--main-txt-cl);
  background-color: var(--light-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.header__container {
  display: flex;

  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    flex-wrap: nowrap;
  }
}

.header__maito {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}

.logo__accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-txt-cl);
  text-decoration: none;
}

.logo__dark {
  color: var(--logo-dark-cl);
}

.logo__light {
  color: var(--light-bg-cl);
}
