.hero__btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  cursor: pointer;
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    border: none;
  }
}

.hero__section {
  
  text-align: center;

  background-color: var(--hero-cl);

  @media screen and (min-width: 480px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
  padding-bottom: 200px;
  }
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img-hw04/Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/header\ img-450.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../img/header\ img-900.jpg");
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/header\ img-354.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/header\ img-708.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img-lg1.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/img-lg2.jpg");
    }
  }
}
