.btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}

.btn__link {
  padding: 6px 22px;
  color: #212121;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--light-bg-cl);
    background-color: var(--accent-txt-cl);
  }
}

.btn__link--current {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.menu-button {
  z-index: 100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}



.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;


  @media screen and (max-width: 767px) {
    z-index: 999;
    padding: 48px 40px;
    overflow: scroll;
  }
}

.menu-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}


.navi-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
}
.social-apps {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.navi-tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-left: 0;
  margin-bottom: 32px;
}

.navi-email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.navi-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 302px;
}

.navi-contacts {
  margin-bottom: 64px;
}

.header__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.header-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.navi-link:hover,
.navi-link:focus {
  color: #2196f3;
}

.navi-current {
  color: #2196f3;
}
