.btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}

.btn__link {
  padding: 6px 22px;
  color: #212121;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--light-bg-cl);
    background-color: var(--accent-txt-cl);
  }
}

.btn__link--current {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

// Menu

.menu-button {
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  

  @media screen and (max-width: 767px) {
    z-index: 999;
    padding: 48px 40px;
   
  }
}

.menu-container.is-open {
  display: block;

  flex-direction: column;
  justify-content: space-between;
}

.menu-container.is-open {
  display: block;
}

.navi-link{
  font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;

color: #212121;
}
.social-apps{
  font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
}

.navi-tel-link{
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-left: 0;
  margin-bottom: 32px;
}


.navi-email-link{
  font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: #757575;

}

.menu-contacts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.navi-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 302px;
}

.navi-contacts{
  margin-bottom: 64px;
}

.header__social-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.header-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33,33,33,.2);

  }

  .navi-link:hover,
  .navi-link:focus{
    color: #2196F3;
  }
  
  .navi-current{
    color: #2196F3;
  }
// .menu-btn {
//   margin-left: auto;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;

//   width: 40px;
//   height: 40px;
//   padding: 0;

//   background-color: transparent;
//   border: none;

//   cursor: pointer;

//   @media screen and (min-width: 768px) {
//     display: none;
//   }

//   .menu-overlay & {
//     position: absolute;
//     top: 48px;
//     right: 30px;
//   }
// }

// .menu-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 100;

//   width: 100%;
//   height: 100%;

//   background-color: rgba(25, 28, 38, 0.2);
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
//     0px 1px 3px rgba(0, 0, 0, 0.16);

//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
// }
// .munu-overlay.is-open {
//   opacity: 1;
//   pointer-events: initial;
//   visibility: visible;
// }

// .menu-container {
// display: flex;
// flex-direction: column;

// margin-left: auto;
// max-width: 337px;
// height: 100%;
// background-color: #fff;
// padding: 118px 40px;

// transform: translateX(100%);
// transition: transform var(--anim-fast);

// .menu-overlay.is-open & {
//   transform: translateX(0);
// }
// }
