.card__set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--indent);
}

.card__set--item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

  

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    width: 354px;
    height: 440px;
  }

  
}
