.doing__section{
    @media screen and (max-width: 1199px) {
        display: none;
    }
}
.doing__section {
    padding-bottom: 94px;
}

.doing__thumb {
    position: relative;
}

.doing__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}