.form {
    display: block;
    text-align: center;
}
.form__container {
    margin-bottom: 20px;
}

.form__group {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
    fill: #2196f3;
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
}

.text__checkbox {
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

    @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: calc(14 / 12);
}

@media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
}
}

.icon__check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__checkbox:checked+.form__checkbox--icons .icon__uncheck {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__checkbox:checked+.form__checkbox--icons .icon__check {
    opacity: 1;
}


.form__btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    font-family: inherit;
    cursor: pointer;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.form__label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}



.form__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 40px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    border-color: #2196f3;
}
}

.form__textarea {
width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 40px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;

&:hover,
&:focus {
    border-color: #2196f3;
}
}


.form__container--footer {
    
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 90px;
        display: flex;
        flex-direction: column;
    }
}

.form__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @media screen and (max-width: 1199px) {
    flex-direction: column;
    }
    
}

.form__input--footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;

        transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    border-color: #2196f3;
}

@media screen and (max-width: 1199px) {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 450px;
    height: 50px;
}
}



.form__footer--btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 29px;
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: #188ce8;
    border: none;
}

@media screen and (max-width: 1199px) {
    margin-bottom: 60px;
}
}

.form__footer--icon {
    fill: #ffffff;
}
