.portfolio__link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  // @media screen and (min-width: 480px) {
  //     width: 450px;
  //   height: 404px;
  //   }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.portfolio__link:hover .overlay__portfolio {
  transform: translateY(0);
}

.portfolio__link:focus .overlay__portfolio {
  transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
  margin: 0;

  // @media screen and (max-width: 767px) {
  //     width: 450px;
  // }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  // @media screen and (min-width: 1200px) {
  //     width: 370px;
  // }
}

.overlay__portfolio {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // padding: 63px 24px;
  padding: 20px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
}

.portfolio__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  --items: 3;
}

.filter__list {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 34px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

// .portfolio__link--thumb{
//     display: flex;
//     flex-direction: column;

// }
