.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-list {
    display: flex;
    gap: 30px;
    margin: 0;
}

.section-list__item {
    width: 270px;
}
.section__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}