@import'./decimals';

// @mixin fonts ($fs, $lh, $fw:900, $ls: 0.06em) {
//     font-weight: $fw;
//     font-size: $fs;
//     line-height: decimal-round ($lh / $fs) $n 1;
//     letter-spacing: $ls;
// }
    
