:root {
  /* fonts-змінні з шрифтами */
  --main-font: "Roboto", san-serif;
  --secondary-font: "Raleway", san-serif;

  /* text color */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;

  /* bg colors */
  --light-bg-cl: #ffffff;
  /* others */
  --bg-medium-cl: #f5f4fa;
  --phone-cl: #757575;
  --hero-cl: #2f303a;
  --logo-dark-cl: #000000;
  --indent: 30px;
  --items: 4;
}
